swagger: '2.0'
info:
  description: An description
  version: 1.0.0
  title: An API
  termsOfService: 'http://company.com/terms/'
  contact:
    name: apiteam@company.com
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
host: api.company.com
basePath: /v3
schemes:
  - http
  - https
paths:
  /:
    get:
      summary: Get service document
      description: ''
      produces:
        - application/json
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/ServiceDocument'
  /things:
    get:
      summary: Get the things
      description: ''
      produces:
        - application/json
      responses:
        200:
          description: links
          schema:
            $ref: '#/definitions/ThingList'
    post:
      summary: Create a thing
      consumes:
        - application/json
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AnyThing'
      responses:
        201:
          description: links
          headers:
            location:
              type: string
              format: url
  /things/{id}:
    get:
      summary: Get a thing
      produces:
        - application/json
      parameters:
        - $ref: "#/parameters/Id"
        - name: x-flow-id
          in: header
          required: true
          type: string
          format: uuid
        - name: x-optional
          in: header
          type: string
      responses:
        200:
          description: links
          schema:
            $ref: '#/definitions/Thing'

parameters:
  Id:
    name: id
    in: path
    required: true
    type: string
    minLength: 4
    maxLength: 8

definitions:
  ServiceDocument:
    type: object
    required:
      - _links
    properties:
      _links:
        type: object
        required:
          - self
          - things
        properties:
          self:
            $ref: '#/definitions/Link'
          things:
            $ref: '#/definitions/Link'
  Link:
    type: object
    required:
      - href
    properties:
      href:
        type: string
        format: url
  ThingList:
    type: object
    required:
      - things
    properties:
      things:
        type: array
        items:
          $ref: '#/definitions/Thing'
  Thing:
    type: object
    required:
      - id
      - name
    properties:
      id:
        type: integer
        format: int64
      name:
        type: string
      description:
        type: string
  SomeThing:
    type: object
  AnyThing:
    type: object
    properties:
      anUUID:
        type: string
        format: uuid
      anURL:
        type: string
        format: url
      anURI:
        type: string
        format: uri
      anEmail:
        type: string
        format: email
      aDate:
        type: string
        format: date
      aDateTime:
        type: string
        format: date-time
      anInt32:
        type: integer
        format: int32
      anInt64:
        type: integer
        format: int64
      aFloat:
        type: number
        format: float
      aDouble:
        type: number
        format: double
      aBoolean:
        type: boolean
      anEnum:
        type: string
        enum:
          - V1
          - V2
          - V3
      aMap:
        type: object
        additionalProperties:
          type: string
    required:
      - anUUID
      - anURL
      - anURI
      - anEmail
      - aDate
      - aDateTime
      - anInt32
      - anInt64
      - aFloat
      - aDouble
      - aBoolean
      - anEnum
      - aMap
  ThingNode:
    type: object
    required:
      - theThing
      - children
    properties:
      theThing:
        $ref: "#/definitions/Thing"
      children:
        type: array
        items:
          $ref: "#/definitions/ThingNode"
  Base:
    type: object
    required:
      - id
    properties:
      id:
        type: string
        format: uuid
  SubBase:
    allOf:
      - $ref: "#/definitions/Base"
      - type: "object"
        properties:
          email:
            type: string
            format: email
  OtherBase:
    allOf:
      - $ref: "#/definitions/Base"
      - type: "object"
        required:
          - lastName
        properties:
          firstName:
            type: string
          lastName:
            type: string